body {
  height: 100%;
  background-color: #282c34;
  font-family: "Fira Mono", monospace; }

.App {
  color: #aab1c0;
  text-align: center; }

.Module {
  margin: 1rem;
  padding: 1rem;
  border: #aab1c0 1px solid; }

.redLabel {
  color: #EF596F; }

.greenLabel {
  color: #89CA78; }

.blueLabel {
  color: #52adf2; }

.large {
  font-size: 20px; }

.extralarge {
  font-size: 36px; }
