// One Dark Vivid Pro colors
// https://github.com/zoharxero/one-dark-pro-vivid-syntax/blob/master/styles/colors.less

$default-text: #aab1c0;
$mono-2: #bbbbbb;
$mono-3: #5c6370;
$cyan: #2bbac5;
$blue: #52adf2;
$purple: #d55fde;
$green: #89ca78;
$red-light: #ef596f;
$red-dark: #be4f44;
$orange-light: #e5c07b;
$orange-dark: #d8985f;
$background: #282c34;

$font-stack: 'Fira Mono', monospace;

body {
  height: 100%;
  background-color: $background;
  font-family: $font-stack;
}

.App {
  color: $default-text;
  text-align: center;
}

.Module {
  margin: 1rem;
  padding: 1rem;
  border: $default-text 1px solid;
}
